<body>
    <section id="container">
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right"></div>
            </div>
            <a href="index.html" class="logo"><b>Conex Kinesis</b></a>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Cerrar Sesión</a></li>
                </ul>
            </div>
        </header>
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <ul class="sidebar-menu" id="nav-accordion">
                    <p class="centered"><a href="@Url.Action("Index", "Home")"><img src="~/img/logo-pequeño-5.png" width="100"></a></p>
                    <h5 class="centered">ejemplo</h5>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="li_clip "></i>
                            <span> USUARIOS</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Details", "Usuario")">Informacion usuario</a></li>
                            <li><a href="@Url.Action("Index", "usuario")">Crear usuario</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="li_calendar"></i>
                            <span>TALENTO HUMANO</span>
                        </a>
                        <ul class="sub">
                            <li><a href="personal nuevo.html">nuevo personal</a></li>
                            <li><a href="programar horarios.html">programacion de horario</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>
        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-md-11 col-md-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Agragar fisioterapeuta</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <form role="form">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>Apellido</label>
                                                <input class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>Fecha de nacimiento</label>
                                                <input type="date" class="form-control" placeholder="" />
                                            </div>
                                            <div class="form-group">
                                                <label>Correo</label>
                                                <input class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>Direccion</label>
                                                <input class="form-control" />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <form role="form" action="index.html">
                                            <div class="form-group">
                                                <label>Tipo de documento</label>
                                                <select class="form-control">
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Numero de documento</label>
                                                <input class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>Genero</label>
                                                <input type="checkbox" data-toggle="toggle" data-on="masculino" data-off="femenino" data-width="100%">
                                            </div>
                                            <div class="form-group">
                                                <label>Telefono</label>
                                                <input class="form-control" type="tel" />
                                            </div>
                                            <br>
                                            <button class="btn btn-success btn-block" href="index.html" type="submit">Agregar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <br><br><br><br><br><br>
    <footer class="site-footer">
        <div class="text-center">
            <a href="@Url.Action("Index", "Fisioterapeuta")" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>

</body>

