
@{
    ViewBag.Title = "Not Found";
}

<h2>Not Found</h2>

<div class="alert alert-info">
    <p><strong>Whoops...</strong></p>
    <p>El recurso que estabas buscando no ha podido ser encontrado</p>
</div>